<div class="header animate__animated animate__fadeIn">
  <h1>About Me</h1>
</div>

<div class="grid-computer">

  <div class="img1 animate__animated animate__fadeIn animate__delay-1s">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/jorden-portfolio.appspot.com/o/about%2Finfo-02.jpg?alt=media&token=ecbf760a-8076-4307-aadf-f1ec15bfd891"
      alt=""
      style="height: auto; width: 100%">
  </div>

  <div class="text1 animate__animated animate__fadeIn animate__delay-1s">
    <p> I'm a 22 year old student-athlete who continues to chase her dreams<br>
      Born and raised in Montreal, Quebec.<br>
      I'm also an elite track and field sprinter and long jumper.<br>
      I made the Youth National Track and field team in 2015 and am<br> striving to make my first Senior team.<br>
      <br><br>
      Despite having to go through two difficult knee surgeries, I overcame adversity.<br>
      This took an enormous amount of patience, dedication and perseverance,<br>
      three qualities about myself which allow me to reach the top.
    </p>
  </div>

  <div class="img2 animate__animated animate__fadeIn animate__delay-2s">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/jorden-portfolio.appspot.com/o/about%2Finfo-03.jpg?alt=media&token=4737045e-b8a1-425d-bec1-48181e648a22"
      alt=""
      style="height: 100%; width: auto">
  </div>

  <div class="text2 animate__animated animate__fadeIn animate__delay-2s">
    <p> Modelling is something that brings me so much joy.<br>
      <br>
      It allows me to express my true colors as a person and my love for fashion.<br>
      As an extrovert, I easily connect and work very well with different people.<br>
      My hard work and positive attitude enables me to achieve my goals!<br>
      <br>
      My hobbies include: Sports, Singing, Coding, and Cooking.
    </p>
  </div>




</div>

<div class="grid-mobile animate__animated animate__fadeIn animate__delay-1s">
  <div class="img1 ">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/jorden-portfolio.appspot.com/o/about%2Finfo-02.jpg?alt=media&token=ecbf760a-8076-4307-aadf-f1ec15bfd891"
      alt=""
      style="height: auto; width: 100%">
  </div>

  <div class="text1 animate__animated animate__fadeIn animate__delay-1s">
    <p> I'm a 22 year old student-athlete who continues to chase her dreams
      Born and raised in Montreal, Quebec.
      I'm also an elite track and field sprinter and long jumper.
      I made the Youth National Track and field team in 2015 and am striving to make my first Senior team.
      <br><br>
      Despite having to go through two difficult knee surgeries, I overcame adversity.
      This took an enormous amount of patience, dedication and perseverance,
      three qualities about myself which allow me to reach the top.
    </p>
  </div>

  <div class="img2 animate__animated animate__fadeIn animate__delay-2s">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/jorden-portfolio.appspot.com/o/about%2Finfo-03.jpg?alt=media&token=4737045e-b8a1-425d-bec1-48181e648a22"
      alt=""
      style="height: auto; width: 100%">
  </div>

  <div class="text2 animate__animated animate__fadeIn animate__delay-2s">
    <p> Modelling is something that brings me so much joy.<br>
      It allows me to express my true colors as a person and my love for fashion.
      As an extrovert, I easily connect and work very well with different people.
      My hard work and positive attitude enables me to achieve my goals!
      <br><br>
      My hobbies include: Sports, Singing, Coding, and Cooking.
    </p>
  </div>

</div>
