<div class="row">
  <div class="column animate__animated animate__fadeIn animate__delay-1s">
    <img src="https://firebasestorage.googleapis.com/v0/b/jorden-portfolio.appspot.com/o/portfolio%2Flifestyle%2Flifestyle-1-2.jpg?alt=media&token=61a8d340-22cf-4347-baee-32c56b956753" alt="">
    <img src="https://firebasestorage.googleapis.com/v0/b/jorden-portfolio.appspot.com/o/portfolio%2Flifestyle%2Flifestyle-1.jpg?alt=media&token=9a3b5804-123f-4b70-b317-dbf50b5b6d02" alt="">
    <img src="https://firebasestorage.googleapis.com/v0/b/jorden-portfolio.appspot.com/o/portfolio%2Flifestyle%2Flifestyle-4.jpg?alt=media&token=82c0558b-803b-451a-bc22-c3d0e1199ad6" alt="">
    <img src="https://firebasestorage.googleapis.com/v0/b/jorden-portfolio.appspot.com/o/portfolio%2Flifestyle%2Flifestyle-13.jpg?alt=media&token=58e87e3d-aa19-4704-8c56-322d3c313de8" alt="">
    <img src="https://firebasestorage.googleapis.com/v0/b/jorden-portfolio.appspot.com/o/portfolio%2Flifestyle%2Flifestyle-14.jpg?alt=media&token=d820a6e2-d6ea-440e-bcb6-22bf5b350439" alt="">
    <img src="https://firebasestorage.googleapis.com/v0/b/jorden-portfolio.appspot.com/o/portfolio%2Flifestyle%2Flifestyle-7.jpg?alt=media&token=d56f3a50-6dfc-4ace-bed5-3f793b489bdd" alt="">
    <img src="https://firebasestorage.googleapis.com/v0/b/jorden-portfolio.appspot.com/o/portfolio%2Flifestyle%2Flifestyle-15.jpg?alt=media&token=ccc601ad-7e22-4bba-b934-c21436959c77" alt="">
    <img src="https://firebasestorage.googleapis.com/v0/b/jorden-portfolio.appspot.com/o/portfolio%2Flifestyle%2Flifestyle-26.jpg?alt=media&token=dcfc16db-5827-48da-8302-bc74d05fe2f9" alt="">
    <img src="https://firebasestorage.googleapis.com/v0/b/jorden-portfolio.appspot.com/o/portfolio%2Flifestyle%2Flifestyle-30.jpg?alt=media&token=8d7277dd-a23d-4a18-9c9e-f694a7f0caf2" alt="">

  </div>

  <div class="column animate__animated animate__fadeIn animate__delay-2s">
    <img src="https://firebasestorage.googleapis.com/v0/b/jorden-portfolio.appspot.com/o/portfolio%2Flifestyle%2Flifestyle-16.jpg?alt=media&token=53adddbf-0e6a-4757-9aa5-bac346e991b6" alt="">
    <img src="https://firebasestorage.googleapis.com/v0/b/jorden-portfolio.appspot.com/o/portfolio%2Flifestyle%2Flifestyle-17.jpg?alt=media&token=42a01ba4-ab50-47c9-aa82-8ce3f3cc19f1" alt="">
    <img src="https://firebasestorage.googleapis.com/v0/b/jorden-portfolio.appspot.com/o/portfolio%2Flifestyle%2Flifestyle-18.jpg?alt=media&token=c6108c3d-5a7f-4aaa-a11b-16594a3f34c8" alt="">
    <img src="https://firebasestorage.googleapis.com/v0/b/jorden-portfolio.appspot.com/o/portfolio%2Flifestyle%2Flifestyle-19.jpg?alt=media&token=d084c7a9-94bf-4fdd-924e-3cc792e64261" alt="">
    <img src="https://firebasestorage.googleapis.com/v0/b/jorden-portfolio.appspot.com/o/portfolio%2Flifestyle%2Flifestyle-28.jpg?alt=media&token=116fe201-de62-4f52-9a23-6dca4e2ed45a" alt="">
    <img src="https://firebasestorage.googleapis.com/v0/b/jorden-portfolio.appspot.com/o/portfolio%2Flifestyle%2Flifestyle-3.jpg?alt=media&token=04952b70-3892-4085-8a5d-e26f9ba8f65c" alt="">
    <img src="https://firebasestorage.googleapis.com/v0/b/jorden-portfolio.appspot.com/o/portfolio%2Flifestyle%2Flifestyle-2-2.jpg?alt=media&token=bfa22941-afb8-4f74-9881-f43d2112f55a" alt="">
    <img src="https://firebasestorage.googleapis.com/v0/b/jorden-portfolio.appspot.com/o/portfolio%2Flifestyle%2Flifestyle-21.jpg?alt=media&token=1bac2aa5-044b-4a39-8948-8656a1384df4" alt="">
    <img src="https://firebasestorage.googleapis.com/v0/b/jorden-portfolio.appspot.com/o/portfolio%2Flifestyle%2Flifestyle-4-2.jpg?alt=media&token=7f30be42-7a1d-4e6d-8b31-a9d4024b018d" alt="">
  </div>

  <div class="column animate__animated animate__fadeIn animate__delay-3s">
    <img src="https://firebasestorage.googleapis.com/v0/b/jorden-portfolio.appspot.com/o/portfolio%2Flifestyle%2Flifestyle-22.jpg?alt=media&token=ba0632ae-3448-4f7a-8a6d-1e7ecbdbcaad" alt="">
    <img src="https://firebasestorage.googleapis.com/v0/b/jorden-portfolio.appspot.com/o/portfolio%2Flifestyle%2Flifestyle-29.jpg?alt=media&token=d9a39493-422b-423f-b913-994ce6a5730c" alt="">
    <img src="https://firebasestorage.googleapis.com/v0/b/jorden-portfolio.appspot.com/o/portfolio%2Flifestyle%2Flifestyle-24.jpg?alt=media&token=1da3eb52-23e6-4b74-9e64-ea6f1a138b71" alt="">
    <img src="https://firebasestorage.googleapis.com/v0/b/jorden-portfolio.appspot.com/o/portfolio%2Flifestyle%2Flifestyle-9.jpg?alt=media&token=2d3b99fa-d471-48e0-b66e-b2116bd904a4" alt="">
    <img src="https://firebasestorage.googleapis.com/v0/b/jorden-portfolio.appspot.com/o/portfolio%2Flifestyle%2Flifestyle-2.jpg?alt=media&token=3205f67f-a5ef-42ca-b1ca-4bf41ce1c1ac" alt="">
    <img src="https://firebasestorage.googleapis.com/v0/b/jorden-portfolio.appspot.com/o/portfolio%2Flifestyle%2Flifestyle-20.jpg?alt=media&token=c4437eb0-8d46-4b4b-b05f-5a4dd056ffb4" alt="">
    <img src="https://firebasestorage.googleapis.com/v0/b/jorden-portfolio.appspot.com/o/portfolio%2Flifestyle%2Flifestyle-27.jpg?alt=media&token=3729dd26-3404-4cf3-9e4a-b158d96d0439" alt="">
    <img src="https://firebasestorage.googleapis.com/v0/b/jorden-portfolio.appspot.com/o/portfolio%2Flifestyle%2Flifestyle-11.jpg?alt=media&token=c8d0e8f5-bb8c-4eb0-ab29-3045e3a2fde6" alt="">
    <img src="https://firebasestorage.googleapis.com/v0/b/jorden-portfolio.appspot.com/o/portfolio%2Flifestyle%2Flifestyle-3-2.jpg?alt=media&token=743e34f1-bae8-4778-b4cb-50952f7a22a1" alt="">
  </div>

</div>
