.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.header h1{
  font-style: italic;
  font-size: 60px;
  letter-spacing: 0.12em;
  text-align: center;
  margin: auto;
  padding-bottom: 2rem;
}

a {
  color: black;
}
p {
  text-align: center;
  margin-bottom: 0;
}
.credits {
  padding-top: 20px;
}
.photo {
  font-size: 22px;
  font-weight: bold;
}
.grapher {
  font-size: initial;
  font-weight: initial;
}


/* Create three equal columns that sits next to each other */
.column {
  flex: 33%;
  max-width: 34%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
