<div class="grid">
  <div class="picture">
    <img class="image" src="https://firebasestorage.googleapis.com/v0/b/jorden-portfolio.appspot.com/o/contact%2Fcontact-1.jpg?alt=media&token=3325411b-8080-4d2f-a195-0bb5d482719e" alt="pic of girl">
  </div>

  <div class="contact">
    <a>Contact</a>
  </div>

  <div class="info">
    <ul>
      <li>
        Email: jordensavoury1214@gmail.com
      </li>
      <li>
        Instagram: @jorden_savoury
      </li>
      <li>
        Facebook: @savouryjorden
      </li>
    </ul>
  </div>

  <form class="input-area">
    <p class="name">
      <label>
        <input placeholder="Name:*">
      </label>
    </p>

    <p class="email">
      <label>
        <input type="email" placeholder="Email:*">
      </label>
    </p>

    <p class="message">
      <label>
        <textarea placeholder="Type your message:" cols="65"></textarea>
      </label>
    </p>

  </form>
</div>
