<div class="grid animate__animated animate__fadeIn animate__delay-2s">
  <div class="picture animate__animated animate__fadeIn animate__delay-2s">
    <img src="https://firebasestorage.googleapis.com/v0/b/jorden-portfolio.appspot.com/o/info%2Finfo-1.jpg?alt=media&token=cf127575-eb88-43d9-9e30-ae389d5115b8" alt="Girl"
      style="width: 100%;height: auto">
  </div>

  <div class="infoHeader animate__animated animate__fadeIn animate__delay-2s">
    <p>Info</p>
  </div>

  <div class="info animate__animated animate__fadeIn animate__delay-2s">
    <p>Name: Jorden Savoury<br>
      Location: Montreal, QC<br>
      Height: 5’8” / 174cm<br>
      Weight: 140lbs<br>
      Hips: 98cm<br>
      Waist: 70cm<br>
      Bust: 85cm<br>
      Eyes: Brown<br>
      Hair: Brown<br>
      Shoe Size: 10<br>
      Tattoos: 3<br></p>
  </div>
</div>
