
  <div class="header animate__animated animate__fadeIn animate__delay-1s">
    <p>Portfolio</p>
  </div>

  <div class="row">
      <div class="column animate__animated animate__fadeIn animate__delay-2s">
    <!--    lifestyle-->
        <a class="column-title" routerLink="/lifestyle">
          Lifestyle
        </a>
        <img src="https://firebasestorage.googleapis.com/v0/b/jorden-portfolio.appspot.com/o/portfolio%2Flifestyle-1.jpg?alt=media&token=f31bc2f4-8284-428a-89ab-5fe96340359a" alt="">

      </div>
      <div class="column animate__animated animate__fadeIn animate__delay-2s">
    <!--    portrait-->
        <a class="column-title" routerLink="/portrait">
          Portrait
        </a>
        <img src="https://firebasestorage.googleapis.com/v0/b/jorden-portfolio.appspot.com/o/portfolio%2Fportrait-1.jpg?alt=media&token=a1a053b9-4fb7-4ff0-9827-27feb426befe" alt="">


      </div>
      <div class="column animate__animated animate__fadeIn animate__delay-2s">
    <!--    sport-->
        <a class="column-title" routerLink="/sports">
          Sport
        </a>
        <img src="https://firebasestorage.googleapis.com/v0/b/jorden-portfolio.appspot.com/o/portfolio%2Fsport-1.jpg?alt=media&token=a2227836-288c-404d-9d40-815a8885a2f1" alt="">

      </div>
  </div>
