
<div class="pics">
  <div class="left-pic animate__animated animate__fadeIn animate__delay-1s">
    <img src="https://firebasestorage.googleapis.com/v0/b/jorden-portfolio.appspot.com/o/home%2Fmain-page-1.jpg?alt=media&token=6c909626-2c56-4258-82a3-e498f35567f0"
         alt="Pic of girl" style="width: 100%;height: auto">
  </div>

  <div class="middle-pic animate__animated animate__fadeIn animate__delay-2s">
    <img src="https://firebasestorage.googleapis.com/v0/b/jorden-portfolio.appspot.com/o/home%2Fmain-page-1-2.jpg?alt=media&token=f1a22343-8951-493c-ada0-e072f5498101"
         alt="Pic of girl" style="width: 100%;height: auto">
  </div>

  <div class="right-pic animate__animated animate__fadeIn animate__delay-3s">
    <img src="https://firebasestorage.googleapis.com/v0/b/jorden-portfolio.appspot.com/o/home%2Fhome-1.jpg?alt=media&token=b86e9dc6-90fa-4bd5-8742-4cca52283aaa"
         alt="Pic of girl" style="width: 100%;height: auto">
  </div>



</div>

